{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
    <img src="{% static 'img/logo-twitterblue.png' %}" alt="logo">
    <h1>HOME</h1>
    <div .post-form>
  <section class="post_form">
    <form action="/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <img src="{% static 'img/tf2.jpg' %}" />
      <input id="name" type="text" name="name" placeholder="Name" required />
      <textarea name="body" placeholder="Tell us anything" required></textarea>
      <input id="upload" class="form-control form-control-sm" name="image" type="file">
      <button type="submit" value="POST">TWEET</button>
    </form>
  </section>
</div>
  <section class="posts">
    <ul>
      {% for posts in tweets reversed %}
      <li>
        <img src="{% static 'img/menu.png' %} /" class="menu_icon js-menu-icon" />
        <div class="menu">
          <a href="/delete/{{ posts.id }}/">Delete</a><br>
          <a href="/edit/{{ posts.id }}/">Edit</a>
          <!-- <a href="/update/{{ posts.id }}/">Update</a> -->
        </div>
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />
        </div>
        <div class="name_body">
          <div class="name">{{ posts.name }}</div>
          <div class="datetime">{{ posts.created_at }}</div>
          <p>{{ posts.body }}</p>
          <img class="upload-img" src="{{posts.image.url}}" alt="">
          <a class="like-link" href="like/{{ posts.id }}"><div id="btnHeart">
            <i class="fa-regular fa-heart"></i>
          </div>
          <p>{{posts.like}}</p>
          </a>
          
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/posts.js' %} /"></script>
</section>

{% endblock%}
